<div class="main">
  <div class="heading">
    Registration Form
  </div>

<form [formGroup]="home" (ngSubmit)="get()">
<label for="name"> Name: <br>
  <input type="text" placeholder="Enter Valid Name" formControlName="name">
  <span style="color: red;" *ngIf="home.controls.name.invalid && home.controls.name.touched">Enter your valid Name</span>
</label>
<br>

<label for="name"> Email: <br>
  <input type="text" placeholder="Enter Valid Email" formControlName="email">
  <span style="color: red;" *ngIf="home.controls.email.invalid && home.controls.email.touched">Enter your valid Email</span>
</label>
<br>

<label for="name"> Contact.No: <br>
  <input type="number" placeholder="Enter Valid Contactno" formControlName="contactno">
  <span style="color: red;" *ngIf="home.controls.contactno.invalid && home.controls.contactno.touched">Enter your valid Contactno</span>
</label>
<br>

<label for="name"> Age: <br>
  <input type="number" placeholder="Enter Valid Age" formControlName="age">
  <span style="color: red;" *ngIf="home.controls.age.invalid && home.controls.age.touched">Enter your valid Age</span>
</label>
<br>

<button [disabled]="home.invalid">Submit</button>
<button [routerLink]="'list'">View list</button>
</form>


<div class="main">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact.No</th>
        <th scope="col">Age</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of session; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{s.name}}</td>
        <td>{{s.email}}</td>
        <td>{{s.contactno}}</td>
        <td>{{s.age}}</td>
        <button (click)="Delete(s)">remove</button>

        <!-- <tr *ngIf="session">
          <td>{{session.name}}</td>
          <td>{{session.email}}</td>
        </tr> -->
      </tr>
<div>
</div>

